body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    padding: 40px;
    color: #333;
    text-align: center;
  }

h2 {
    color: #555;
  }

ul, ol {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    max-width: 400px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    width:60vw; 
  }

li {
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    list-style-position: inside;
    font-size: large;
  }

ul li::marker {
    color: #00b894;
  }

ol li::marker {
    color: #0984e3;
    font-weight: bold;
  }

